	ol,
ul,
menu {
	list-style: none
}

.theme-login {
	height: 50px;
	line-height: 20px;
}

.theme-signin {
	font-size: 15px;
}

.theme-popover-mask {
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	filter: alpha(opacity=40);
	display: none
}

.theme-popover {
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 660px;
	height: 360px;
	margin: -180px 0 0 -330px;
	border-radius: 5px;
	border: solid 2px #666;
	background-color: #fff;
	display: none;
	box-shadow: 0 0 10px #666;
}

.theme-poptit {
	border-bottom: 1px solid #ddd;
	padding: 12px;
	position: relative;
}

.theme-popbod {
	padding: 60px 15px;
	color: #444;
	height: 148px;
}

.theme-popbom a {
	margin-left: 8px
}

.theme-poptit .close {
	float: right;
	color: #999;
	padding: 5px;
	margin: -2px -5px -5px;
	font: bold 14px/14px simsun;
	text-shadow: 0 1px 0 #ddd
}

.theme-poptit .close:hover {
	color: #444;
}

.dform {
	padding: 80px 60px 40px;
	text-align: center;
}

.dform .ipt_error {
	background-color: #FFFFCC;
	border-color: #FFCC66
}

.dform-tip a {
	display: inline-block;
	padding: 0 20px;
	margin-left: 10px;
	background-color: #FFE924;
	color: #CF301A;
}

.dform-login {
	padding: 0;
	height: 270px;
	overflow: hidden;
}

.dform-login iframe {
	height: 470px;
	margin-top: -180px;
}

.theme-signin {
	margin: -50px -20px -50px 90px;
	text-align: left;
	font-size: 14px;
}

.theme-signin h4 {
	color: #999;
	font-weight: 100;
	margin-bottom: 20px;
	font-size: 12px;
}

.theme-signin li {
	padding-left: 80px;
	margin-bottom: 15px;
}

.theme-signin li strong {
	float: left;
	margin-left: -80px;
	width: 80px;
	text-align: right;
	line-height: 32px;
}

.theme-signin {
	margin-bottom: 10px;
}

.theme-signin p {
	font-size: 12px;
	color: #999;
}

@media only screen and (min-width: 400px) and (max-width: 660px) {
	.theme-popover {
		z-index: 9999;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 400px;
		height: 360px;
		margin: -180px 0 0 -200px;
		border-radius: 5px;
		border: solid 2px #666;
		background-color: #fff;
		display: none;
		box-shadow: 0 0 10px #666;
		}
		.dform {
			padding: 0px;
			margin: 0px;
		}
		.theme-popbod {
			padding: 0px;
			margin: 0px;
		}
		.theme-signin{
			padding: 0px;
			margin: 0px;
		}
	}
	
	
	@media only screen and (min-width: 40px) and (max-width: 400px) {
	.theme-popover {
		z-index: 9999;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 250px;
		height: 300px;
		margin: -150px 0 0 -125px;
		border-radius: 5px;
		border: solid 2px #666;
		background-color: #fff;
		display: none;
		box-shadow: 0 0 10px #666;
		}
		.dform {
			text-align: center;
			padding: 0px;
			margin: 0px;
		}
		.theme-popbod {
			padding: 0px;
			margin: 0px;
		}
		.theme-signin{
			padding: 0px;
			margin: 0px;
		}
		.theme-signin li {
			padding-left: 20px;
			margin-bottom: 15px;
		}
	}
	@media screen and(max-width:768px) {}