html,
body,
div,
span,
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.sourceTitle{
	display: inline;
}
.btn-choose{
	margin-bottom: 15px;
}

article,
section {
	display: block;
}

#main{
	padding-top: 40px;
	padding-bottom: 40px;
}
@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
	html,
	body {
		min-width: 320px;
	}
}
@media screen and (max-width: 1680px) {
	body,
	input,
	select,
	textarea {
		font-size: 14pt;
	}
}

@media screen and (max-width: 1280px) {
	body,
	input,
	select,
	textarea {
		font-size: 12pt;
	}
}


@media screen and (max-width: 736px) {
	h1 {
		font-size: 2em;
		margin: 0 0 1em 0;
	}
}

@media screen and (max-width: 360px) {
	h1 {
		font-size: 1.75em;
	}
}

@media screen and (max-width: 980px) {
	h1 br,
	h2 br,
	h3 br,
	h4 br,
	h5 br,
	h6 br {
		display: none;
	}
}

@media screen and (max-width: 736px) {
	h2 {
		font-size: 1em;
	}
	h3 {
		font-size: 0.8em;
	}
}

section.special,
article.special {
	text-align: center;
}

header p {
	color:white;
	margin-bottom:0px;
}

@media screen and (max-width: 736px) {
	header p {
		margin-top: 0;
	}
}


/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

.icon.style2 {
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	background-color: transparent;
	border: solid 1px #c9c9c9;
	border-radius: 4px;
	width: 2.65em;
	height: 2.65em;
	display: inline-block;
	text-align: center;
	line-height: 2.65em;
	color: inherit;
}

.icon.style2:before {
	font-size: 1.1em;
}

.icon.style2:hover {
	color: #f2849e;
	border-color: #f2849e;
}

.icon.style2:active {
	background-color: rgba(242, 132, 158, 0.1);
}


/* Image */

.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 4px;
	display: block;
}

.image.left,
.image.right {
	max-width: 40%;
}

.image.left img,
.image.right img {
	width: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

@media screen and (max-width: 736px) {
	.image.main {
		margin: 0 0 2em 0;
	}
}



/* Tiles */
.detail a{
	cursor: pointer;
	text-decoration: none;
	color: white;
}
.detail a:hover{
	color: white;
}
.tiles {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	postiion: relative;
	margin: -2.5em 0 0 -2.5em;
}

.tiles article {
	-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	position: relative;
	width: calc(33.33333% - 2.5em);
	margin: 2.5em 0 0 2.5em;
}

.tiles article > .image {
	-moz-transition: -moz-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
	position: relative;
	display: block;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
}

.tiles article > .image img {
	display: block;
	width: 100%;
}

.tiles article > .image:before {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
	-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
	-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
	transition: background-color 0.5s ease, opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1.0;
	z-index: 1;
	opacity: 0.8;
}

.tiles article > .image:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.25;
	z-index: 2;
}
/*a标签的位置*/
.detail{
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
	-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
	-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
	transition: background-color 0.5s ease, transform 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	border-radius: 4px;
	border-bottom: 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	z-index: 3;
}



.detail > :last-child{
	margin: 0;
}

.tiles article > a:hover {
	color: #ffffff !important;
}
.detail > h2{
	margin: 0;
}

/*控制文字不显示*/

.detail div {
	-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
	-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
	-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	width: 100%;
	max-height: 0;
	line-height: 1.5;
	margin-top: 0.35em;
	opacity: 0;
}

.tiles article > a .content > :last-child {
	margin-bottom: 0;
}

.tiles article.style1 > .image:before {
	background-color: #f2849e;
}

.tiles article.style2 > .image:before {
	background-color: #7ecaf6;
}

.tiles article.style3 > .image:before {
	background-color: #7bd0c1;
}

.tiles article.style4 > .image:before {
	background-color: #c75b9b;
}

.tiles article.style5 > .image:before {
	background-color: #ae85ca;
}

.tiles article.style6 > .image:before {
	background-color: #8499e7;
}
/*控制变大*/
body:not(.is-touch) .tiles article:hover > .image {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

body:not(.is-touch) .tiles article:hover > .image:before {
	background-color: #333333;
	opacity: 0.35;
}

body:not(.is-touch) .tiles article:hover > .image:after {
	opacity: 0;
}
/*控制文字显示*/
body:not(.is-touch) .tiles article:hover .content {
	max-height: 15em;
	opacity: 1;
}

* + .tiles {
	margin-top: 0em;
}

body.is-loading .tiles article {
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}

body.is-touch .tiles article .content {
	max-height: 15em;
	opacity: 1;
}

@media screen and (max-width: 1280px) {
	.tiles {
		margin: 0 0 0 -1.25em;
	}
	.tiles article {
		width: calc(33.33333% - 1.25em);
		margin: 1.25em 0 0 1.25em;
	}
}

@media screen and (max-width: 980px) {
	.tiles {
		margin: -2.5em 0 0 -2.5em;
	}
	.tiles article {
		width: calc(50% - 2.5em);
		margin: 2.5em 0 0 2.5em;
	}
}

@media screen and (max-width: 736px) {
	.tiles {
		margin: 0 0 0 -1.25em;
	}
	.tiles article {
		width: calc(50% - 1.25em);
		margin: 1.25em 0 0 1.25em;
	}
	.tiles article:hover > .image {
		-moz-transform: scale(1.0);
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}

@media screen and (max-width: 480px) {
	.tiles {
		margin: 0;
	}
	.tiles article {
		width: 100%;
		margin: 1.25em 0 0 0;
	}
}
.nav-tabs{
	font-size: 200%;
}
.tabs{
	margin-top: 50px;
}
.idid{
	position: fixed;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #C0C0C0 !important;
    text-decoration: none;
    background-color:white !important;
    outline: 0;
}
.page-header{
	margin-bottom:4px !important;
}
.pager{
	margin-top:10px !important;
	margin-bottom:0px !important;
}
