section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: block;
}


@-ms-viewport {
	width: device-width;
}


@media screen and (max-width: 980px) {
	body,
	input,
	select,
	textarea {
		font-size: 12pt;
	}
}

@media screen and (max-width: 736px) {
	body,
	input,
	select,
	textarea {
		font-size: 12pt;
	}
}

@media screen and (max-width: 640px) {
	body,
	input,
	select,
	textarea {
		font-size: 12pt;
	}
}

a.special:not(.button) {
	text-decoration: none;
	border-bottom: 0;
	display: block;
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0 0 2em 0;
	text-transform: uppercase;
}

a.special:not(.button):before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

a.special:not(.button):before {
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 2px rgba(255, 255, 255, 0.125);
	content: '\f105';
	display: inline-block;
	font-size: 1.25em;
	height: 2em;
	line-height: 1.65em;
	margin-right: 0.85em;
	text-align: center;
	text-indent: 0.15em;
	vertical-align: middle;
	width: 2em;
}

a.special:not(.button):hover:before {
	background-color: rgba(255, 255, 255, 0.025);
}

a.special:not(.button):active:before {
	background-color: rgba(255, 255, 255, 0.075);
}


/* Section/Article */

section.special,
article.special {
	text-align: center;
}

select option {
	color: #ffffff;
	background: #2e3141;
}

.image {
	border-radius: 5px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 5px;
	display: block;
}

.image.left,
.image.right {
	max-width: 40%;
}

.image.left img,
.image.right img {
	width: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}


/* Wrapper */

#wrapper > header {
	padding: 11em 0 2.25em 0;
}

#wrapper > header .inner {
	margin: 0 auto;
	width: 55em;
}

#wrapper > header h2 {
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
	font-size: 2em;
	margin-bottom: 0.8em;
	padding-bottom: 0.4em;
}

#wrapper > header p {
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 200;
	letter-spacing: 0.1em;
	line-height: 2;
	text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
	#wrapper > header {
		padding: 9em 0 6.25em 0;
		background-color: #2e3141;
		background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
		background-size: auto, cover;
		background-position: center, 0% 30%;
		margin-bottom: -6.5em;
	}
}

@media screen and (max-width: 980px) {
	#wrapper > header {
		padding: 11em 3em 7.375em 3em;
		background-size: auto, cover;
		background-position: center, 0% 0%;
		margin-bottom: -4.75em;
	}
	#wrapper > header .inner {
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	#wrapper > header {
		padding: 6.5em 2em 3em 2em;
		background-size: auto, 125%;
		margin-bottom: -2.5em;
	}
	#wrapper > header h2 {
		font-size: 1.25em;
	}
	#wrapper > header p {
		font-size: 0.8em;
	}
}

.wrapper {
	background-color: #2e3141;
	margin: 6.5em 0;
	position: relative;
}

.wrapper:before,
.wrapper:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141;' /%3E%3C/svg%3E");
}

.wrapper:before,
.wrapper:after {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	display: block;
	height: 6.5em;
	position: absolute;
	width: 100%;
}

.wrapper:before {
	left: 0;
	top: -6.5em;
}

.wrapper:after {
	-moz-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	transform: scaleY(-1);
	bottom: -6.5em;
	left: 0;
}

.wrapper.alt:before {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

.wrapper.alt:after {
	-moz-transform: scaleY(-1) scaleX(-1);
	-webkit-transform: scaleY(-1) scaleX(-1);
	-ms-transform: scaleY(-1) scaleX(-1);
	transform: scaleY(-1) scaleX(-1);
}

.wrapper .inner {
	padding: 3em 0 1em 0;
	margin: 0 auto;
	width: 70em;
	color: white;
}

.wrapper.style2 {
	background-color: #353849;
}

.wrapper.style2:before,
.wrapper.style2:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23353849;' /%3E%3C/svg%3E");
}

.wrapper.style3 {
	background-color: #3d4051;
}

.wrapper.style3:before,
.wrapper.style3:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233d4051;' /%3E%3C/svg%3E");
}

.wrapper.style4 {
	background-color: #454858;
}

.wrapper.style4:before,
.wrapper.style4:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23454858;' /%3E%3C/svg%3E");
}

.wrapper.style5 {
	background-color: #4d5060;
}

.wrapper.style5:before,
.wrapper.style5:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234d5060;' /%3E%3C/svg%3E");
}

.wrapper.style6 {
	background-color: #555867;
}

.wrapper.style6:before,
.wrapper.style6:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23555867;' /%3E%3C/svg%3E");
}

.wrapper.spotlight {
	background-color: #4c5c96;
}

.wrapper.spotlight:before,
.wrapper.spotlight:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234c5c96;' /%3E%3C/svg%3E");
}

.wrapper.spotlight .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.wrapper.spotlight .image {
	border-radius: 100%;
	margin: 0 3em 2em 0;
	width: 22em;
	overflow: hidden;
	-ms-flex: 1;
}

.wrapper.spotlight .image img {
	border-radius: 100%;
	width: 100%;
}

.wrapper.spotlight .content {
	width: 100%;
	-ms-flex: 2;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	text-align: right;
}

.wrapper.spotlight:nth-child(2n - 1) .image {
	margin: 0 0 2em 3em;
}

.wrapper.spotlight.style2 {
	background-color: #45558d;
}

.wrapper.spotlight.style2:before,
.wrapper.spotlight.style2:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2345558d;' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style3 {
	background-color: #3f4e85;
}

.wrapper.spotlight.style3:before,
.wrapper.spotlight.style3:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233f4e85;' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style4 {
	background-color: #39477c;
}

.wrapper.spotlight.style4:before,
.wrapper.spotlight.style4:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2339477c;' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style5 {
	background-color: #324072;
}

.wrapper.spotlight.style5:before,
.wrapper.spotlight.style5:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23324072;' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style6 {
	background-color: #2d3a69;
}

.wrapper.spotlight.style6:before,
.wrapper.spotlight.style6:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232d3a69;' /%3E%3C/svg%3E");
}
.inner {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

@media screen and (max-width: 980px) {
	.wrapper {
		margin: 4.75em 0;
	}
	.wrapper:before,
	.wrapper:after {
		height: 4.75em;
	}
	.wrapper:before {
		top: -4.75em;
	}
	.wrapper:after {
		bottom: -4.75em;
		left: 0;
	}
	.wrapper .inner {
		padding: 3em 3em 1em 3em;
		width: 100%;
	}
	.wrapper.spotlight .image {
		margin: 0 2em 2em 0;
		width: 32em;
	}
	.wrapper.spotlight:nth-child(2n - 1) .image {
		margin: 0 0 2em 2em;
	}
}

@media screen and (max-width: 736px) {
	.wrapper {
		margin: 2.5em 0;
	}
	.wrapper:before,
	.wrapper:after {
		height: 2.5em;
	}
	.wrapper:before {
		top: -2.5em;
	}
	.wrapper:after {
		bottom: -2.5em;
		left: 0;
	}
	.wrapper .inner {
		padding: 2em 2em 0.1em 2em;
	}
	.wrapper.spotlight .inner {
		-moz-align-items: -moz-flex-start;
		-webkit-align-items: -webkit-flex-start;
		-ms-align-items: -ms-flex-start;
		align-items: flex-start;
	}
	.wrapper.spotlight .image {
		width: 19em;
		margin: 0 1.75em 2em 0;
	}
	.wrapper.spotlight:nth-child(2n - 1) .image {
		margin: 0 0 2em 1.75em;
	}
}



@media screen and (max-width: 640px) {
	.wrapper.spotlight .inner {
		display: block;
	}
	.wrapper.spotlight .image {
		margin: 0 0 1em 0 !important;
		max-width: 85%;
		width: 12em;
	}
}

@media screen and (max-width: 360px) {
	.wrapper .inner {
		padding: 2em 1.5em 0.1em 1.5em;
	}
}
.style22{
	text-align: left;
}

html,
body {
	background: url(../img/seamless_paper_texture.png);
}

.bbscontainer {
	margin-top: -100px;
	z-index: -2;
	position: relative;
}

.bbscontainerin {
	padding: 0px;
}

#one {
	padding-top: 50px;
}
.major {
	color: white
}
p{
	color: white
}