<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.heygis.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SourceServlet</servlet-name>
    <servlet-class>com.heygis.servlet.SourceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.heygis.servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <servlet-class>com.heygis.servlet.AddFeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.heygis.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.heygis.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SourceServlet</servlet-name>
    <url-pattern>/sourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/feedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <url-pattern>/addFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.heygis.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumsServlet</display-name>
    <servlet-name>ForumsServlet</servlet-name>
    <servlet-class>com.heygis.servlet.ForumsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumsServlet</servlet-name>
    <url-pattern>/forumsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddThreadServlet</display-name>
    <servlet-name>AddThreadServlet</servlet-name>
    <servlet-class>com.heygis.servlet.AddThreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddThreadServlet</servlet-name>
    <url-pattern>/addThreadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicsServlet</display-name>
    <servlet-name>TopicsServlet</servlet-name>
    <servlet-class>com.heygis.servlet.TopicsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicsServlet</servlet-name>
    <url-pattern>/topicsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostServlet</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.heygis.servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/addPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortServlet</display-name>
    <servlet-name>SortServlet</servlet-name>
    <servlet-class>com.heygis.servlet.SortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortServlet</servlet-name>
    <url-pattern>/sortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyPostServlet</display-name>
    <servlet-name>ReplyPostServlet</servlet-name>
    <servlet-class>com.heygis.servlet.ReplyPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyPostServlet</servlet-name>
    <url-pattern>/replyPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterJudgeServlet</servlet-name>
    <servlet-class>com.heygis.servlet.RegisterJudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterJudgeServlet</servlet-name>
    <url-pattern>/registerJudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelfCenterServlet</display-name>
    <servlet-name>SelfCenterServlet</servlet-name>
    <servlet-class>com.heygis.servlet.SelfCenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfCenterServlet</servlet-name>
    <url-pattern>/selfCenterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FillInfoServlet</display-name>
    <servlet-name>FillInfoServlet</servlet-name>
    <servlet-class>com.heygis.servlet.FillInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FillInfoServlet</servlet-name>
    <url-pattern>/fillInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VtourServlet</servlet-name>
    <servlet-class>com.heygis.servlet.VtourServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserIconServlet</servlet-name>
    <servlet-class>com.heygis.servlet.UserIconServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VtourServlet</servlet-name>
    <url-pattern>/vtourServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserIconServlet</servlet-name>
    <url-pattern>/userIconServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.heygis.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCountServlet</servlet-name>
    <servlet-class>com.heygis.servlet.AddCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCountServlet</servlet-name>
    <url-pattern>/addCountServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CommonFilter</display-name>
    <filter-name>CommonFilter</filter-name>
    <filter-class>com.heygis.filter.CommonFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommonFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>NewMsgServlet</display-name>
    <servlet-name>NewMsgServlet</servlet-name>
    <servlet-class>com.heygis.servlet.NewMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMsgServlet</servlet-name>
    <url-pattern>/newMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadMsgServlet</display-name>
    <servlet-name>ReadMsgServlet</servlet-name>
    <servlet-class>com.heygis.servlet.ReadMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadMsgServlet</servlet-name>
    <url-pattern>/readMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelfCenMsgList</display-name>
    <servlet-name>SelfCenMsgList</servlet-name>
    <servlet-class>com.heygis.servlet.SelfCenMsgList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfCenMsgList</servlet-name>
    <url-pattern>/selfCenMsgList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyThreadServlet</display-name>
    <servlet-name>GetMyThreadServlet</servlet-name>
    <servlet-class>com.heygis.servlet.GetMyThreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyThreadServlet</servlet-name>
    <url-pattern>/getMyThreadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinUSServlet</display-name>
    <servlet-name>JoinUSServlet</servlet-name>
    <servlet-class>com.heygis.servlet.JoinUSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinUSServlet</servlet-name>
    <url-pattern>/joinUSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumImgServlet</display-name>
    <servlet-name>ForumImgServlet</servlet-name>
    <servlet-class>com.heygis.servlet.ForumImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumImgServlet</servlet-name>
    <url-pattern>/forumImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsLoginServlet</display-name>
    <servlet-name>IsLoginServlet</servlet-name>
    <servlet-class>com.heygis.servlet.IsLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsLoginServlet</servlet-name>
    <url-pattern>/isLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>